<% layout("/layouts/contentboilerplate") %>
  <style>
    .sidebar {
      padding-bottom: 120px;
      height: 100%;
      width: 250px;
      position: fixed;
      top: 90px;
      left: -250px;
      background-color: #000000;
      padding-top: 20px;
      color: white;
      transition: 0.5s;
      z-index: 1;
      overflow-y: auto; /* Make the sidebar scrollable */
    }
    .sidebar a {
      padding:8px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
    }
    .sidebar h4{
      background-color: #beb7b76b;
    }
    .sidebar a:hover {
      background-color: #555;
    }
    .menu-icon {
      cursor: pointer;
      font-size: 24px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .content {
      margin-left: 0;
      transition: margin-left 0.5s;
      padding: 16px;
      flex: 1; /* Fill the remaining vertical space */
      overflow-y: auto; /* Make the content area scrollable */
    }
    .tab-content{
      background-color: white;
    }
    .tab-pane.active::after {
      background-color: transparent;
    }
 /* Style for the active link in the sidebar */
 .sidebar a.active {
    background-color: #2baffc;
  }
  .sidebar a:hover {
    background-color: #2baffc;
  }

.checkbox-label .ball{
  display: none;
}

span {
 display: none;
}

#touch {
  position: absolute;
  opacity: 0;
   height: 0px;
}    

#touch:checked + .slide {
  height: 300px;
} 
 @media screen and (min-width: 998px) {
      .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 85px;
        left: 0px;
        background-color: #000000;
        padding-top: 20px;
        color: white;
        transition: 0.5s;
}
#main-content{
  margin-left: 230px;
 }
}

.tab-pane {
    display: none;
  }
  .active-tab {
   
  }

  @media screen and (max-width: 998px) {
  .nav-items h5{
  display: block !important;
}

}


</style>

<body>
    
<div class="sidebar" id="sidebar">
  <h4 class="text-center py-2"><b>BOOTSTRAP BASICS</b></h4>
  <a href="#intro">Introduction to Bootstrap</a>
  <a href="#about">Setting up Bootstrap</a>
  <a href="#about">Grid System</a>
  <a href="#about">Responsive Design</a>
  <a href="#about">Typography</a>
  <a href="#about">Tables</a>
  <a href="#about">Forms</a>
  <a href="#about">Buttons and Badges</a>
  <a href="#about">Images and Thumbnails</a>
  <a href="#about">Alerts and Progress Bars</a>
  <a href="#about">Bootstrap Utilities</a>
  <a href="#about"></a>
  <h4 class="text-center py-2 my-2"><b>Bootstrap Components</b></h4>
  <a href="#about">Navbar</a>
  <a href="#about">Dropdowns</a>
  <a href="#about">Tabs and Pills</a>
  <a href="#about">Modal Windows</a>
  <a href="#about">Carousel</a>
  <a href="#about">Datepicker</a>
  <a href="#about">Scrollspy</a>
  <a href="#about">Form Validation</a>
  <a href="#about">Cards</a>
  <a href="#about">Pagination</a>
  <a href="#about">Spinner</a>
 
  <h4 class="text-center py-2 my-2 last"><b>REFERENCE</b></h4>
  <a href="#services">Quizzes</a>
  <a href="#services">Practice Question</a>
 
 
</div>


<div class="content" id="main-content">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="intro">
<p> Here is an introductory content for Bootstrap explained in a paragraph format:

  ---
  
  Bootstrap is a popular front-end framework used for developing responsive and mobile-first web pages. It includes a collection of CSS and JavaScript tools and components that help in designing and implementing a consistent and visually appealing user interface quickly and efficiently. Bootstrap provides a grid system that simplifies the layout of web pages, making them adaptive to different screen sizes and devices. It also includes pre-designed components such as navigation bars, buttons, modals, and forms, which can be easily customized to fit the specific needs of a project. By leveraging Bootstrap's extensive library of utilities and plugins, developers can create professional-looking websites with minimal effort and ensure compatibility across various browsers and devices.
  
  ---
  
  This paragraph provides an overview of Bootstrap, its purpose, and its role in facilitating responsive and efficient web development.</p>    </div>
    <div class="tab-pane fade" id="about">
      <p>lo</p>
    </div>
    <div class="tab-pane fade" id="services">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
    <div class="tab-pane fade" id="contact">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
  </div>
</div>

