<% layout("/layouts/boilerplate") %>
 <style>
img{
    max-width: 100%;
}
.footer-02{
    margin-top: 10px;
}
 </style>

 <div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <img src="/images/404 Error Page not Found with people connecting a plug-pana.png" alt="">
        </div>
    </div>
 </div>