<% layout("/layouts/boilerplate") %>
<style>
    /* -------------------------------- 

File#: _2_faq
Title: Frequent Questions
Descr: A ready-to-use template for your site FAQ section
Usage: codyhouse.co/license

-------------------------------- */
/* reset */


section {
  background-color: hsl(0, 0%, 100%);
  font-family: system-ui, sans-serif;
  color: hsl(230, 7%, 23%);
  font-size: 1rem;
}


textarea {
  resize: vertical;
  overflow: auto;
  vertical-align: top;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}

@media (min-width: 64rem) {
  body {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 3.051rem;
  }

  h2 {
    font-size: 2.44rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5625rem;
  }
}

/* utility classes */
.fu0-position-relative {
  position: relative;
}

.fu0-z-index-1 {
  z-index: 1;
}

.fu0-padding-y-lg {
  padding-top: var(--fu0-space-lg);
  padding-bottom: var(--fu0-space-lg);
}

.fu0-container {
  width: calc(100% - 2*var(--fu0-space-md));
  margin-left: auto;
  margin-right: auto;
}

.fu0-max-width-adaptive-md {
  max-width: 32rem;
}

@media(min-width: 48rem) {
  .fu0-max-width-adaptive-md {
    max-width: 48rem;
  }
}

@media(min-width: 64rem) {
  .fu0-max-width-adaptive-md {
    max-width: 64rem;
  }
}

.fu0-text-center {
  text-align: center;
}

.fu0-margin-bottom-lg {
  margin-bottom: var(--fu0-space-lg);
}
</style>


<section class="fu0-position-relative fu0-z-index-1 fu0-padding-y-lg">
    <div class="fu0-container fu0-max-width-adaptive-md">
      <div class="fu0-margin-bottom-lg">
        <h1 class="fu0-text-center">Questions &amp; Answers</h1>
      </div>
      
      <ol class="text-points text-points--letter">
        <li class="text-points__item">
          <div class="text-points__content">
            <h4><span class="text-points__bullet" aria-hidden="true"></span>How can I download the invoice for my purchase?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </li>
      
        <li class="text-points__item">
          <div class="text-points__content">
            <h4><span class="text-points__bullet" aria-hidden="true"></span>How many devices can I use?</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quia iure quaerat possimus quasi? Enim, provident!</p>
          </div>
        </li>
      
        <li class="text-points__item">
          <div class="text-points__content">
            <h4><span class="text-points__bullet" aria-hidden="true"></span>What is the license of your resources?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate explicabo est magnam nobis ea maiores soluta, repellendus iure temporibus fugiat.</p>
          </div>
        </li>
      
        <li class="text-points__item">
          <div class="text-points__content">
            <h4><span class="text-points__bullet" aria-hidden="true"></span>Do you have an affiliation system?</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi sunt illo a eveniet quod voluptatum nesciunt doloremque sapiente inventore, impedit, rem sint.</p>
          </div>
        </li>
      
        <li class="text-points__item">
          <div class="text-points__content">
            <h4><span class="text-points__bullet" aria-hidden="true"></span>Can I suggest new app features?</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quibusdam libero quasi pariatur rerum explicabo. Suscipit libero voluptates repellendus dolorem sequi, quibusdam molestiae aliquid, soluta dignissimos mollitia asperiores.</p>
          </div>
        </li>
      
        <li class="text-points__item">
          <div class="text-points__content">
            <h4><span class="text-points__bullet" aria-hidden="true"></span>Can I suggest new app features?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, exercitationem rem. Nulla aut amet error vero nemo dignissimos tempore magnam, adipisci veniam, iusto asperiores ducimus, iure totam voluptatum cumque est quia delectus.</p>
          </div>
        </li>
      </ol>
    </div>
  </section>