
  <!-- !footer section start -->
  <footer class="footer-02">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-5">
          <div class="row">
            <div class="col-md-12 col-lg-11 mb-md-0 mb-4">
              <h2 class="footer-heading"><a href="#" class="logo"><img src="/images/footer-logo.png" alt=""
                    style="max-width: 60%; margin-left: -20px;" ></a></h2>
              <p>Hello World is designed for easy and structured learning. Our examples are simplified to enhance
                readability and comprehension and for better relationship and communication</p>
              <!-- <a href="#">read more <span class="ion-ios-arrow-round-forward"></span></a> -->
              <div class="share">
                <span><i class="fas fa-share-alt"></i>Let's Connect</span>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-7">
          <div class="row list-unstyled-main">
            <div class="col-md-3 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">Useful links</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block">Case study</a></li>
                <li><a href="/contact-us" class="py-1 d-block">Contact Us</a></li>
                <li><a href="#" class="py-1 d-block">Blogs</a></li>
                <li><a href="#" class="py-1 d-block">Pricing</a></li>

              </ul>
            </div>
            <div class="col-md-2 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">About</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block">Staff</a></li>
                <li><a href="#" class="py-1 d-block">Team</a></li>
                <li><a href="/career" class="py-1 d-block">Careers</a></li>
                <li><a href="#" class="py-1 d-block">Testimonials</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">Support</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block">Feedback</a></li>
                <li><a href="#" class="py-1 d-block">Report Error</a></li>
                <li><a href="/privacy-policy" class="py-1 d-block">Privacy Policy</a></li>
                <li><a href="/terms-and-condition" class="py-1 d-block">Terms & conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">Get Contact</h2>
              <ul class="list-unstyled">
                <li><a href="#" class=" d-block"><i class="fa-solid fa-phone"></i>(+91) 9548952113</a></li>
                <li><a href="#" class=" d-block"><i class="fa-solid fa-envelope"></i>info@gmail.com</a></li>
                <li><a href="#" class=" d-block"><i class="fa-solid fa-globe"></i>helloworld.com</a></li>
                <li><a href="#" class=" d-block"><i class="fa-solid fa-location-dot"></i>Noida, Uttar Pradesh, India</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row partner-wrap mt-5">
        <div class="col-md-12 disclaimer">
          <hr class="hr1">
          <div class="row align-items-center ">
            <div class="col-md-3">
              <h5 class="mb-0" style="font-family: 'Lexend', sans-serif;">Disclaimer :</h5>
            </div>
            <div class="col-md-12 ">
              <p class="partner-name mb-0 ">
                We regularly review our tutorials, references, and examples to ensure accuracy, but we cannot guarantee
                the complete correctness of all content. By using Hello World, you indicate that you have read
                and accepted our terms of use, cookie policy, and privacy policy.
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class="hr1">
      <div class="row mt-4  copyright">
        <div class="col-md-6 col-lg-12 text-center">
          <p>copyright &#169; 2023 <a href="index.html">Hello World</a> . All Right Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- !footer section End -->
  <!-- | Developed by <a href="https://abhigoyal.netlify.app/">Abhi Goyal</a> &#10084; -->