<% layout("/layouts/boilerplate") %>


 <!-- !Signup main section start -->

 <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-5 signup2 d-flex justify-content-center">
          <img src="../images/signup.jpg" alt="" style="max-width: 100%;">
      </div>
        <div class="col-sm-12 col-md-7  signup-main">
          <h2 class="text-center heading-1">A World of Knowledge Awaits You !</h2>
          <h1 class="text-center heading-2">Sign Up For Free</h1>
        <div class="text-center">
          <!-- <img src="../images/underline.png" alt="" style="max-width: 50%; margin-top: -40px; opacity:0.3; " class=""> -->
        </div>

        <div class="center">
          <div class="row  ">
            <div id="more-tutorials" class="col-12 text-center" data-aos="fade-right" data-aos-duration="1000">
              <a href="signup-form.html"><button class="btn  circle pulse orange ">Sign Up <i class="fa-solid fa-user-plus"></i></button></a>
            </div> 
          </div>
       
         <div class="container-fluid info">
          <div class="row justify-content-space-evenly info2">
            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
              <div class="card" >
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-solid fa-users"></i></h1>
                  <h3 class="card-text">10000+ </h3>
                  <h6 class="card-text">Monthly Users</h6>
                </div>
              </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
              <div class="card">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-solid fa-circle-nodes"></i></h1>
                  <h3 class="card-text">Connect</h3>
                  <h6 class="card-text">With Community</h6>
                </div>
              </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-duration="1000">
              <div class="card">
                <div class="card-body text-center">
                  <h1 class="card-title"><i class="fa-brands fa-leanpub"></i></h1>
                  <h3 class="card-text">Learning</h3>
                  <h6 class="card-text">Without Boundaries</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- !Signup main section End -->


