@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");

:root {
  --box-shadow: 0px 2px 10px #97c8f0;
  --body-background-color: #f4f9fd;
}

.navbar {
  background-color: #f4f9fd;

  padding: 0px;
} /* box-shadow: 0px 2px 10px #97c8f0; */
.nav-item {
  padding: px;
  font-weight: 900;
  font-family: "Varela Round", sans-serif;
  /* background: #213999; */
  border-radius: 50px;
  line-height: 20px;
}
.nav-link {
  color: #2baffc;
}
.nav-link i {
  padding-right: 5px;
}
.nav-link:hover {
  color: #000;
}

#signuplogin {
}
#signup {
  background-color: #000;
  font-weight: 900;
  font-family: "Varela Round", sans-serif;
  border-radius: 30px;
  color: white;
  /* padding: 8px; */
}
#signup:hover {
  background-color: #2baffc;
  color: white;
}
#login {
  background-color: #000;
  font-weight: 900;
  font-family: "Varela Round", sans-serif;
  color: white;
  border-radius: 30px;
}
#login:hover {
  background-color: #2baffc;
  color: white;
}
.navbar-toggler {
  border: none;
  color: #000;
}

.new-nav {
  background-color: #000;
  padding: 0%;
}
.new-nav-col {
  padding: 0;
}

.new-nav-element {
  color: white;
  border-radius: 0;
  width: 100%;
  font-family: "Varela Round", sans-serif;
}
.new-nav-element:hover {
  background-color: #2baffc;
  color: white;
}
.new-nav a:active {
  background-color: black;
  color: white;
}

.darkmode {
  width: 100%;
  background-color: #000;
  color: white;
}
.darkmode:hover {
  background-color: #000;
  color: white;
}

@media screen and (max-width: 993px) {
  .navbar-collapse {
    height: 100vh;
  }
  #signuplogin {
    padding-top: 20px;
  }
  #signup {
    width: 100%;
    padding: 10px;
  }
  #login {
    width: 100%;
    padding: 10px;
  }
  .nav-link {
    margin-top: 35px;
    background-color: #2baffc;
    color: #fdfdfd;
    border-radius: 30px;
    font-size: 20px;
  }
  #signup {
    margin-top: 25px;
  }
  #login {
    margin-top: 34px;
  }
}
@media screen and (max-width: 950px) {
  #js {
    display: none;
  }
}
@media screen and (max-width: 891px) {
  #sql1 {
    display: none;
  }
}
@media screen and (max-width: 836px) {
  #python {
    display: none;
  }
}
@media screen and (max-width: 742px) {
  #java {
    display: none;
  }
}
@media screen and (max-width: 678px) {
  #c {
    display: none;
  }
}
@media screen and (max-width: 642px) {
  #react {
    display: none;
  }
}

@media screen and (max-width: 564px) {
  #nodejs {
    display: none;
  }
}
@media screen and (max-width: 475px) {
  #tailwind {
    display: none;
  }
}
@media screen and (max-width: 372px) {
  #bootstrap {
    display: none;
  }
}
/* !Nav section Start-------------------------------------------------------- */
















/* !Footer section Start-------------------------------------------------------- */

.footer-02 {
  background-color: #f4f9fd;
  margin-top: 70px;
  padding: 20px;
}
.share {
  background: #fafafa;
  height: 50px;
  width: 280px;
  border-radius: 40px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: rgba(43, 175, 252, 0.65) 0px 0px 20px;
  border: none;
}
.share span {
  position: absolute;
  background: #080809;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s linear;
  z-index: 999;
  border-radius: 40px;
}
.share span .fa-share-alt {
  margin-right: 5px;
  font-size: 16px;
}
.share:hover span {
  transform: translateX(-100%);
}
.share a {
  margin: 10px;
  font-size: 30px;
  text-decoration: none;
}
.share a:hover {
  transform: translateY(-10%);
}
.share a .fa-linkedin{
  color: #0278B7;
}
.share a .fa-instagram {
  color: #e60023;
}
.share a .fa-telegram{
  color: #30ACEC;
}
.share a .fa-twitter {
  color: #00acee;
}
.footer-heading {
  font-size: 22px;
  font-family: "Lexend", sans-serif;
  color: #000;
}
.list-unstyled a {
  text-decoration: none;
  color: #2baffc;
  padding-top: 10px;
}
.py-1 {
  display: inline-block;
  position: relative;
}
.py-1:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.py-1::after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  top: 30px;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.list-unstyled i {
  color: black;
  padding-right: 10px;
}
.hr1 {
  border: 1px solid black;
}
.partner-name {
  font-family: "Montez", cursive;
  font-size: 20px;
}
.copyright {
  background-color: #000;
  padding: 20px;
  border-radius: 50px;
  color: white;
  box-shadow: rgba(43, 175, 252, 0.65) 0px 0px 20px;
}
.copyright p {
  margin-bottom: 0px;
}
.copyr {
  padding: 0px;
}
@media screen and (max-width: 770px) {
  .list-unstyled-main {
    margin-top: 30px;
  }
  .disclaimer {
    margin-top: -60px;
  }
}
/* !Footer section End-------------------------------------------------------- */
