<% layout("/layouts/contentboilerplate") %>
  <style>
    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      top: 90px;
      left: -250px;
      background-color: #000000;
      padding-top: 20px;
      color: white;
      transition: 0.5s;
      z-index: 1;
      overflow-y: auto; /* Make the sidebar scrollable */
    }
    .sidebar a {
      padding:8px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
    }
    .sidebar h4{
      background-color: #beb7b76b;
    }
    .sidebar a:hover {
      background-color: #555;
    }
    .menu-icon {
      cursor: pointer;
      font-size: 24px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .content {
      margin-left: 0;
      transition: margin-left 0.5s;
      padding: 16px;
      flex: 1; /* Fill the remaining vertical space */
      overflow-y: auto; /* Make the content area scrollable */
    }
    .tab-content{
      background-color: white;
    }
    .tab-pane.active::after {
      background-color: transparent;
    }
 /* Style for the active link in the sidebar */
 .sidebar a.active {
    background-color: #2baffc;
  }
  .sidebar a:hover {
    background-color: #2baffc;
  }

.checkbox-label .ball{
  display: none;
}

span {
 display: none;
}

#touch {
  position: absolute;
  opacity: 0;
   height: 0px;
}    

#touch:checked + .slide {
  height: 300px;
} 
 @media screen and (min-width: 998px) {
      .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 85px;
        left: 0px;
        background-color: #000000;
        padding-top: 20px;
        color: white;
        transition: 0.5s;
}
#main-content{
  margin-left: 230px;
 }
}


.tab-pane {
    display: none;
  }

  .active-tab {
    display}
</style>

<body>
    
<div class="sidebar" id="sidebar">
  <h4 class="text-center py-2"><b>NODE.JS BASICS</b></h4>
  <a href="#intro"> Node.js Intro</a>
  <a href="#intro">Node.js Get Started</a>
  <a href="#intro">Node.js Modules</a>
  <a href="#intro">Node.js NPM</a>
  <a href="#intro">Node.js File System</a>
  <a href="#intro">Node.js Error Handling</a>
  <a href="#intro">Node.js Asynchronous </a>
  <a href="#intro">Node.js Email</a>
  <a href="#intro">Node.js Working With APIs</a>

  <h4 class="text-center py-2 my-2 last"><b>REFERENCE</b></h4>
  <a href="#services">Quizzes</a>
  <a href="#services">Practice Question</a>
  <a href="#services">nothing</a>
  <a href="#services">nothing</a>
 
</div>


<div class="content" id="main-content">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="intro">
      <p> ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
    <div class="tab-pane fade" id="about">
      <p>lo</p>
    </div>
    <div class="tab-pane fade" id="services">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
    <div class="tab-pane fade" id="contact">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
  </div>
</div>

