<% layout("/layouts/boilerplate") %>
<% layout("/layouts/contentboilerplate") %>
  <style>
    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      top: 90px;
      left: -250px;
      background-color: #000000;
      padding-top: 20px;
      color: white;
      transition: 0.5s;
      z-index: 1;
      overflow-y: auto; /* Make the sidebar scrollable */
    }
    .sidebar a {
      padding:8px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
    }
    .sidebar h4{
      background-color: #beb7b76b;
    }
    .sidebar a:hover {
      background-color: #555;
    }
    .menu-icon {
      cursor: pointer;
      font-size: 24px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .content {
      margin-left: 0;
      transition: margin-left 0.5s;
      padding: 16px;
      flex: 1; /* Fill the remaining vertical space */
      overflow-y: auto; /* Make the content area scrollable */
    }
    .tab-content{
      background-color: white;
    }
    .tab-pane.active::after {
      background-color: transparent;
    }
 /* Style for the active link in the sidebar */
 .sidebar a.active {
    background-color: #2baffc;
  }
  .sidebar a:hover {
    background-color: #2baffc;
  }
  .dropdown {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}
.checkbox-label .ball{
  display: none;
}

span {
 display: none;
}

#touch {
  position: absolute;
  opacity: 0;
   height: 0px;
}    

#touch:checked + .slide {
  height: 300px;
} 
 @media screen and (min-width: 998px) {
      .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 85px;
        left: 0px;
        background-color: #000000;
        padding-top: 20px;
        color: white;
        transition: 0.5s;
}
#main-content{
  margin-left: 230px;
 }
}

@media screen and (max-width: 998px) {
  .nav-items h5{
  display: block !important;
}

}

</style>

<body>
    
<div class="sidebar" id="sidebar">
  <h4 class="text-center py-2"><b>CSS BASICS</b></h4>
  <a href="#intro">CSS Introduction</a>
  <a href="#services">CSS Selectors</a>
  <a href="#services">CSS Box Model</a>
  <a href="#services">CSS Layout</a>
  <a href="#services">CSS Display</a>
  <a href="#services">CSS Position</a>
  <a href="#services">CSS Float</a>
  <a href="#services">CSS Flexbox</a>
  <h4 class="text-center py-2 my-2"><b> CSS Styling Elements</b></h4>
  <a href="#services">CSS Typography</a>
  <a href="#services">CSS Colors</a>
  <a href="#services">CSS Backgrounds</a>
  <a href="#services">CSS Lists and Tables</a>
  <a href="#services">CSS Links & Navigation</a>
  <a href="#services">CSS Forms & Input Styling</a>
  <a href="#services">CSS Responsive Design</a>
  <a href="#services">CSS Media Queries</a>
  <a href="#services">CSS Viewport</a>
  <a href="#services">CSS Grid View</a>
  <h4 class="text-center py-2 my-2"><b>CSS Advanced Styling</b></h4>
  <a href="#services">CSS Grid</a>
  <a href="#services">CSS Multiple Columns</a>
  <a href="#services">CSS Transitions</a>
  <a href="#services">CSS Animations</a>
  <a href="#services">CSS Shadows</a>
  <a href="#services">CSS Variables</a>
  <a href="#services">CSS Specificity</a>
  <a href="#services">CSS !important</a>
  <h4 class="text-center py-2 my-2"><b>HTML PREPROCESSOR</b></h4>
  <a href="#services">SASS</a> 
  <a href="#services">LASS</a> 
  <a href="#services">STYLUS</a> 
  <a href="#services">POSTCSS</a> 
  <a href="#services">GARDEN</a> 
  <a href="#services">PLEEEASE</a> 
  <a href="#services">CSS - CRUSH</a> 
  <h4 class="text-center py-2 my-2 last"><b>REFERENCE</b></h4>
  <a href="#services">CSS Tools</a>
  <a href="#services"> CSS Challenges</a>
  <a href="#services"> CSS Projects</a>
  <a href="#services">Quizzes</a>
  <a href="#services">Practice Question</a>
  <a href="#services">nothing</a>
  <a href="#services">nothing</a>
 
</div>
</div>

<div class="content" id="main-content">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="intro">
<p>Here is an introductory content for CSS explained in a paragraph format:

  ---
  
  CSS, or Cascading Style Sheets, is a stylesheet language used to describe the presentation of a document written in HTML or XML. CSS defines how elements should be displayed on screen, paper, or in other media. It allows you to separate the content of a web page from its design and layout, providing greater flexibility and control over the appearance of your web pages. CSS can control the color of text, the style of fonts, the spacing between paragraphs, how columns are laid out, and much more. It also enables you to adapt the presentation to different types of devices, such as large screens, small screens, or printers. By using selectors and properties, CSS can apply specific styles to elements, creating visually appealing and consistent web designs.
  
  ---
  
  This paragraph provides an overview of CSS, its purpose, and how it enhances the presentation of web pages.</p>    </div>
    <div class="tab-pane fade " id="services">
      <p> NNNNNNorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
    <div class="tab-pane fade" id="contact">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
  </div>
</div>

