<% layout("/layouts/boilerplate") %>


<style>

#quiz-img{
  max-width: 35%;
}

.main-sec h1{
    font-size: 5rem;
    font-weight: 600;
}
.main-sec p{
    font-weight: 500;
}
.card{
    background-color: #2baffc;
    color: white;
    border: none;
}
.btn{ 
    background-color: black;
    border: none;
   
}
@media  (max-width: 1200px) {
    .main-sec h1{
    font-size: 4.4rem;
    font-weight: 600;
}
.main-sec p{
    font-size: 20px;
}
#quiz-img{
  max-width: 35%;
}

}
@media  (max-width: 994px) {
    .main-sec h1{
    font-size: 3.3rem;
    font-weight: 600;
}
.main-sec p{
    font-size: 15px;
}
#quiz-img{
  max-width: 50%;
}
}
@media  (max-width: 770px) {
    .main-sec h1{
    font-size: 2.4rem;
    font-weight: 600;
}
.main-sec p{
    font-size: 10px;
}
#quiz-img{
  max-width: 60%;
}
}
@media  (max-width: 510px) {
    .main-sec h1{
    font-size: 2rem;
    font-weight: 600;
}
.main-sec p{
    font-size: 10px;
}
#quiz-img{
  max-width: 70%;
}
}
@media  (max-width: 436px) {
    .main-sec h1{
    font-size: 1.7rem;
    font-weight: 600;
}
.main-sec p{
    font-size: 8px;
}
#quiz-img{
  max-width: 90%;
}
}
</style>



    <!-- Hero Section -->
    <section class="jumbotron text-center mb-0">
        <div class="container main-sec">
            <img src="/images/Develop-Skills-in-Online-Quizzes.jpg" alt="" id="quiz-img">
            <h1  data-aos="fade-right" data-aos-duration="1000" class="display-4 ">Welcome to the Quiz World</h1>
            <p class="lead">Test your knowledge in various technologies with our quizzes.</p>
        </div>
    </section>

    <!-- Quiz Categories Section -->
    <section class="container my-5" id="quiz-categories">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card"  data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-body">
                        <h5 class="card-title">HTML Quiz</h5>
                        <p class="card-text">Test your knowledge of HTML.</p>
                       
                        <a href="/quizzes-content?category=html" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">CSS Quiz</h5>
                        <p class="card-text">Test your knowledge of CSS.</p>
                        <a href="/quizzes-content?category=css" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">JavaScript Quiz</h5>
                        <p class="card-text">Test your knowledge of JavaScript.</p>
                        <a href="/quizzes-content?category=javascript" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bootstrap Quiz</h5>
                        <p class="card-text">Test your knowledge of HTML.</p>
                        <a href="/quizzes-content?category=bootstrap" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">React Quiz</h5>
                        <p class="card-text">Test your knowledge of CSS.</p>
                        <a href="/quizzes-content?category=react" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nodejs Quiz</h5>
                        <p class="card-text">Test your knowledge of JavaScript.</p>
                        <a href="/quizzes-content?category=nodejs" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Java Quiz</h5>
                        <p class="card-text">Test your knowledge of HTML.</p>
                        <a href="/quizzes-content?category=java" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">C Quiz</h5>
                        <p class="card-text">Test your knowledge of CSS.</p>
                        <a href="/quizzes-content?category=c" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  data-aos="fade-up" data-aos-duration="1000">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Python Quiz</h5>
                        <p class="card-text">Test your knowledge of JavaScript.</p>
                        <a href="/quizzes-content?category=python" class="btn btn-primary"  >Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

   