<% layout("/layouts/contentboilerplate") %>
  <style>
    .sidebar {
      height: 100%;
      width: 250px;
      position: fixed;
      top: 90px;
      left: -250px;
      background-color: #000000;
      padding-top: 20px;
      color: white;
      transition: 0.5s;
      z-index: 1;
      overflow-y: auto; /* Make the sidebar scrollable */
    }
    .sidebar a {
      padding:8px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      display: block;
    }
    .sidebar h4{
      background-color: #beb7b76b;
    }
    .sidebar a:hover {
      background-color: #555;
    }
    .menu-icon {
      cursor: pointer;
      font-size: 24px;
      margin-left: 10px;
      margin-top: 10px;
    }
    .content {
      margin-left: 0;
      transition: margin-left 0.5s;
      padding: 16px;
      flex: 1; /* Fill the remaining vertical space */
      overflow-y: auto; /* Make the content area scrollable */
    }
    .tab-content{
      background-color: white;
    }
    .tab-pane.active::after {
      background-color: transparent;
    }
 /* Style for the active link in the sidebar */
 .sidebar a.active {
    background-color: #2baffc;
  }
  .sidebar a:hover {
    background-color: #2baffc;
  }

.checkbox-label .ball{
  display: none;
}

span {
 display: none;
}

#touch {
  position: absolute;
  opacity: 0;
   height: 0px;
}    

#touch:checked + .slide {
  height: 300px;
} 
 @media screen and (min-width: 998px) {
      .sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        top: 85px;
        left: 0px;
        background-color: #000000;
        padding-top: 20px;
        color: white;
        transition: 0.5s;
}
#main-content{
  margin-left: 230px;
 }
}


.tab-pane {
    display: none;
  }

  .active-tab {
    display}
</style>

<body>
    
<div class="sidebar" id="sidebar">
  <h4 class="text-center py-2"><b>JS BASICS</b></h4>
  <a href="#intro">JS Introduction</a>
  <a href="#intro">JS History</a>
  <a href="#about">JS Setup Environment</a>
  <a href="#services">JS Variables</a>
  <a href="#services">JS Heading</a>
  <a href="#services">JS Data Types</a>
  <a href="#services">JS Operators</a>
  <a href="#services">JS Expressions</a>
  <a href="#services">JS Control Flow</a>
  <a href="#services">JS Images</a>
  <a href="#services">JS If else</a>
  <a href="#services">JS Switch</a>
  <a href="#services">JS For loop</a>
  <a href="#services">JS For In loop</a>
  <a href="#services">JS For OF Loop</a>
  <a href="#services">JS While Loop</a>
  <a href="#services">JS Break</a>
  <a href="#services">JS TypeOf</a>
  <a href="#services">JS Type Conversion</a>
  <a href="#services">JS Precedence</a>
  <a href="#services">JS Functions</a>
  <a href="#services">JS Scope</a>
  <a href="#services">JS Arrays</a>
  <a href="#services">JS Array Methods</a>
  <a href="#services">JS Objects</a>
  <a href="#services">JS Strings</a>
  <a href="#services">JS Numbers</a>
  <a href="#services">JS Math Ops</a>


  <h4 class="text-center py-2 my-2"><b> JS HTML DOM</b></h4>
  <a href="#services">DOM Intro</a>
  <a href="#services">DOM Selecting Elements</a>
  <a href="#services">DOM Modify HTML</a>
  <a href="#services">DOM Modify CSS</a>
  <a href="#services">DOM Event Handling</a>
  <a href="#services">DOM Create DOM Elements</a>
  <a href="#services">DOM Navigation</a>
  
  <h4 class="text-center py-2 my-2"><b>ADVANCED JAVASCRIPT</b></h4>
  <a href="#services">OOP in JavaScript</a>
  <a href="#services">Prototypes</a>
  <a href="#services">Inheritance</a>
  <a href="#services">Design Patterns</a>
  <a href="#services">Advanced Arrays</a>
  <a href="#services">Dates and Times</a>
  <a href="#services">Browser Storage</a>
  <a href="#services">JavaScript Security</a>
  

  <h4 class="text-center py-2 my-2"><b>JS ES6</b></h4>
  <a href="#services">Arrow Functions</a>
  <a href="#services">Let and Const</a>
  <a href="#services">Template Literals</a>
  <a href="#services">Destructuring Assignment</a>
  <a href="#services">Default Parameters</a>
  <a href="#services">Rest Operator</a>
  <a href="#services">Spread Operator</a>
  <a href="#services">Object Literal</a>
  <a href="#services">Modules (import/export)</a>
  <a href="#services">Promises and Fetch API</a>
  <a href="#services">Async/Await</a>
  <a href="#services">Generators</a>
  <a href="#services">Iterators</a>
  <a href="#services">Proxy Objects</a>
  <a href="#services">Typed Arrays</a>
  


  <h4 class="text-center py-2 my-2 last"><b>PROJECT-BASED LEARNING</b></h4>
  <a href="#services">To-Do List App</a>
  <a href="#services">Weather App (API)</a>
  <a href="#services">Simple Blog (CRUD)</a>
  <a href="#services">Portfolio Website</a>
 
  <h4 class="text-center py-2 my-2 last"><b>REFERENCE</b></h4>
  <a href="#services">Quizzes</a>
  <a href="#services">Practice Question</a>
  <a href="#services">nothing</a>
  <a href="#services">nothing</a>
 
</div>


<div class="content" id="main-content">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="intro">
      <p> ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
    <div class="tab-pane fade" id="about">
      <p>lo</p>
    </div>
    <div class="tab-pane fade" id="services">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
    <div class="tab-pane fade" id="contact">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, repellat! Vitae porro, architecto dolor quis ex, blanditiis incidunt obcaecati tenetur molestiae quos repudiandae illo? Obcaecati qui molestiae vel eos? Cum?</p>
    </div>
  </div>
</div>

