<% layout("/layouts/boilerplate") %>
<style>

.google {
    background-color: white !important;
    color: black !important;
   
  }
  .login-main {
    padding: 60px 60px 30px 60px;
  }

  .login-main-1 {
    border-radius: 30px 0px 0px 30px;
    background: #ecf1f3;
    box-shadow: 5px 5px 10px#c7dbe8,
      -5px -5px 10px #ffffff;
  }

  .login-main-2 h2 {
    font-family: "Lexend", sans-serif;
    color: #000;
  }

  .login-main-2 h6 {
    padding: 10px;
    color: #00000078;
  }

  .email input {
    width: 90% !important;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    background: #ECF0F3;
    box-shadow: inset 5px 5px 10px#c7dbe8,
      inset -5px -5px 10px #ffffff;
  }

  .password input {

    width: 90% !important;
    padding: 10px;
    padding-left: 30px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    background: #ECF0F3;
    box-shadow: inset 5px 5px 10px #c7dbe8,
      inset -5px -5px 10px #ffffff;
  }

  .email input:focus {
    outline: none;
  }

  .password input:focus {
    outline: none;
  }

  .email ::placeholder {
    color: #00000078;
    font-family: "Varela Round", sans-serif;
  }

  .password ::placeholder {
    color: #00000078;
    font-family: "Varela Round", sans-serif;
  }

  .form-check-label {
    color: #00000078;
    font-family: "Varela Round", sans-serif;

  }

  .forgot-password-link {
    text-decoration: none;
  }

  .login-row {
    background: #ecf1f3;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #c4c8ca,
      -5px -5px 10px #ffffff;
  }

  .login-img {
    max-width: 100%;
  }

  .hwatom {
    max-width: 18%;
  }

  #more-tutorials {
    padding: 10px;
  }

  .orange {
    font-size: 20px;
  }

  #more-tutorials i {
    padding-left: 9px;
  }

  #more-tutorials button {
    width: 90%;
    padding: 6px;
    background-color: #000;
    border: none;
    border-radius: 30px;
    color: white;
    font-family: "Varela Round", sans-serif;
  }

  #more-tutorials button:hover {
    background-color: #2baffc;
    border: none;
    color: white;
  }


  .or-login {
    color: #00000078;
    font-family: "Varela Round", sans-serif;
  }

  .social1 button {
    font-weight: 600 !important;
    border: none;
    color: white;
    width: 90%;
    padding: 10px;
    font-family: "Varela Round", sans-serif;
    border-radius: 30px;
  }

  .social1 i {
    padding-right: 10px;

  }

  .social2 i {
    padding-right: 10px;
  }

  .social2 button {
    
    border: none;
    color: white;
    width: 130px;
    padding: 10px;

    border-radius: 30px;
  }

  .github {
    background-color: #000;
  }

  .facebook {
    background: #3B5999;
  }

  .linkedin {
    background-color: #0077B5;
  }

  .account {
    color: #00000078;
    font-family: "Varela Round", sans-serif;

  }

  .account h6 {
    padding-top: 0;
  }

  .account a {
    text-decoration: none;
  }

  .forget-sec {
    gap: 10rem;
  }

  @media screen and (max-width:1240px) {
    .forget-sec {
    gap: 8rem;
  }
  }
  @media screen and (max-width:1120px) {
    .forget-sec {
    gap: 6rem;
  }
  }
  @media screen and (max-width:1000px) {
    .forget-sec {
    gap: 4rem;
  }
  }
  @media screen and (max-width:960px) {
    .forget-sec {
    gap: 2rem;
  }
  }
  @media screen and (max-width:870px) {
    .forget-sec {
    gap: 0rem;
  }
  }
  @media screen and (max-width:768px) {

    .forget-sec {
    gap: 14rem;
  }
    .login-main-1 img {
      max-width: 80%;
    }

    .login-main-1 {
      border-radius: 30px 30px 30px 30px;
    }

    .login-main-2 {
      margin-top: 40px;
    }

    .login-main-1 {
      display: none;
    }
  }
  @media screen and (max-width:720px) {
    .forget-sec {
    gap: 12rem;
  }
  }
  @media screen and (max-width:670px) {
    .forget-sec {
    gap: 9rem;
  }
  }
  @media screen and (max-width:600px) {
    .forget-sec {
    gap: 8rem;
  }
  }

  @media screen and (max-width:570px) {
    .forget-sec {
    gap: 6rem;
  }
  }

  @media screen and (max-width:540px) {
    .forget-sec {
    gap: 4rem;
  }
  }
  @media screen and (max-width:500px) {
    .forget-sec {
    gap: 2rem;
  }
  }
  @media screen and (max-width:470px) {
    .forget-sec {
    gap: 1rem;
  }
  }

  @media screen and (max-width:460px) {
    .forget-sec {
    gap: 0rem;
  }

    .login-main {
      padding: 30px 30px 30px 30px;


    }
  }

  @media screen and (max-width:400px) {
    .forget-sec {
    gap: -1rem;
  }
  }

  @media screen and (max-width:350px) {
    .form-check {
      padding-right: 0px;
    }

    .forgot {
      padding-left: 0px;
    }
  }

  .rights {
    background-color: #000;
    color: white;
    padding: 20px;
    word-spacing: 3px;

  }

  .rights a {
    text-decoration: none;
  }

  @media screen and (max-width:530px) {
    .rights h6 {
      font-size: 10px;
    }

  }


  .footer-02 {
    background-color: #f4f9fd;
    margin-top: 3rem;
    padding: 20px;
  }
 
</style>



<!-- !login Main section Start -->

<div class="container-fluid login-main">
  <div class="row login-row">
    <div class="col-sm-12 col-md-6 login-main-1 text-center">
      <img src="../images/login.png" alt="" class="login-img">
    </div>
    <div class="col-sm-12 col-md-6 login-main-2 text-center">
      <a href="../index.html"> <img src="../images/hwatom.png" alt="" class="hwatom "></a>
      <div>
        <a href="../index.html"> <img src="../images/heloworldhead.png" alt="" class="hwatom "></a>
      </div>
      <h2>Welcome back!</h2>
      <h6>Log in to continue learning</h6>

      <form action="/login" method="POST"  class="needs-validation">
        <div class="email">
          <input type="email" placeholder="Email Address" id="email" name="email" required>
        </div>
        <div class="password">
          <input type="password" placeholder="Password" id="password" name="password" required>
        </div>

        <div class="row d-flex justify-content-evenly forget-sec ">
          <div class="col-auto">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="rememberMe">
              <label class="form-check-label" for="rememberMe">Remember Me</label>
            </div>
          </div>
          <div class="col-auto forgot">
            <a href="#" class="forgot-password-link">Forget Password?</a>
          </div>
        </div>

        <div id="more-tutorials" class="col-12 text-center">
          <a href=""><button class="btn  circle pulse orange ">Login <i class="fa-solid fa-forward"></i></button></a>
        </div>
        <p class="or-login">Or</p>
      </form>


      <div class="">
        <div class=" pb-2 social1">
          <a class="" href="/auth/google"><button class="google bg-danger"> <svg style="margin-right: 10px;" xmlns="http://www.w3.org/2000/svg" x="px" y="px" width="20" height="20" viewBox="0 0 48 48">
            <path fill="#FFC107" d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z"></path><path fill="#FF3D00" d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z"></path><path fill="#4CAF50" d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z"></path><path fill="#1976D2" d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z"></path>
            </svg></i>Continue with Google</button></a>
        </div>
        <div class=" pb-2 social1">
          <a href=""><button class="linkedin"> <i class="fa-brands fa-linkedin"></i>Continue with Linkedin</button></a>         
        </div>

      </div>
      <br>
      <div class="account">
        <h6>Don't have an account? <a href="/user/signup">Sign Up</a></h6>
      </div>

    </div>
  </div>
</div>

<!-- !login Main section End -->